{{#each row in rows}}
<tr>
  {{#each column in columns}}
    <td>
      {{#if column.linkTo}}
        {{#link-to column.linkTo row}}
          {{get-property row column}}
        {{/link-to}}
      {{else}}
        {{get-property row column}}
      {{/if}}
    </td>
  {{/each}}
</tr>
{{/each}}
